table {
  width: 100%;
  height: 100%;
}
.selected {
  background-color: "red";
}
.notselected {
  background-color: "green";
}
.button {
  height: 40px;
  width: 200px;
  outline: none;
  border: none;
  background-color: rgb(60, 60, 218);
  color: #fff;
  border-radius: 10px 0px 10px 0px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

button:disabled {
  pointer-events: none;
  background-color: gainsboro;
}
